/* Sizes */
$sm: 768px;
$md: 992px;
$lg: 1200px;

/* Colors */
$white-f1: #f1f1f1;
$white-e8: #e8e8e8;

$grey-c1:#c1c1c1;
$grey-2f:#2f2f2f;
$grey-4f: #4f4f4f;
$grey-33: #333333;
$grey-99: #999999;

$red-a3: #a3232b;

$green-20: #205646;
$green-2c: #2c5f50;
$green-2a: #2a5e4f;
$green-38: #384c05;

$yellow-f3: #f3c06c;

$blue-10: #107fce;